<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.minibox.dao.ReservationMapper">
    <resultMap id="reservation" type="com.minibox.po.ReservationPo">
        <id property="reservationId" column="reservation_id"/>
        <result property="userId" column="user_id"/>
        <result property="openTime" column="open_time"/>
        <result property="useTime" column="use_time"/>
        <result property="userName" column="user_name"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="groupId" column="group_id"/>
        <result property="boxId" column="box_id"/>
        <result property="boxSize" column="box_size"/>
        <result property="delFlag" column="del_flag" javaType="java.lang.Integer"/>
        <result property="expFlag" column="exp_flag" javaType="java.lang.Integer"/>
    </resultMap>

    <sql id="reservation_column">
        reservation_id, user_id, open_time, use_time, user_name, phone_number, group_id, box_id, box_size, del_flag, exp_flag
    </sql>

    <insert id="insertReservation" parameterType="com.minibox.po.ReservationPo">
        INSERT INTO reservation_info (open_time, user_id, use_time, user_name, phone_number, group_id, box_id, box_size)
        VALUES (#{openTime}, #{userId}, #{useTime}, #{userName}, #{phoneNumber}, #{groupId}, #{boxId}, #{boxSize})
    </insert>

    <update id="removeReservationByReservationId" parameterType="java.lang.Integer">
        UPDATE reservation_info
        SET del_flag = '1'
        WHERE reservation_id = #{reservationId}
    </update>

    <update id="updateReservation" parameterType="com.minibox.po.ReservationPo">
        UPDATE reservation_info
        <set>
            <if test="openTime!=null">
                open_time=#{openTime},
            </if>
            <if test="useTime!=null">
                use_time=#{useTime},
            </if>
            <if test="userName!=null">
                user_name=#{userName},
            </if>
            <if test="phoneNumber!=null">
                phone_number=#{phoneNumber},
            </if>
        </set>
        WHERE reservation_id=#{reservationId}
    </update>

    <select id="findReservationsByUserId" parameterType="java.lang.InternalError" resultMap="reservation">
        SELECT
        <include refid="reservation_column"/>
        FROM reservation_info WHERE user_id=#{userId}
    </select>

    <select id="findReservationByReservationId" parameterType="java.lang.Integer" resultMap="reservation">
        SELECT
        <include refid="reservation_column"/>
        FROM reservation_info WHERE reservation_id=#{reservationId}
    </select>

    <update id="updateOverdueReservationExpFlag">
        UPDATE reservation_info, user_info, box_info
        SET exp_flag = '1', credibility = credibility - 10, box_status = '0'
        WHERE now() > DATE_ADD(open_time, INTERVAL reservation_info.use_time HOUR)
              AND user_info.user_id = reservation_info.user_id AND box_info.box_id = reservation_info.box_id
              AND exp_flag = '0' AND user_info.credibility>0
    </update>

    <select id="findReservationByBoxId" parameterType="java.lang.Integer" resultMap="reservation">
        select
        <include refid="reservation_column"/>
        from reservation_info WHERE box_id=#{boxId}
        and del_flag='0' and exp_flag='0'
    </select>
</mapper>